html,body {
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
#hero {
    background-color: #1F2937;
}
#header{
    display: flex;
    justify-content: space-around;
}
#links{
    padding: 25px;
}
.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}
#random-info{
    padding: 25px;
    display: flex;
    gap: 30px;
}

#random-info-text{
    display: flex;
    flex-direction: column;
}
.info-header{
    font-size: 36px; 
    text-align: center;
    color: #1F2937;
}
.main-pic{
    height: 300px;
    width: 600px;
    margin: 25px;
    
}
.hero-main-text{
    text-align: left;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}
.hero-secondary-text{
    margin-left: 25px;
    font-size: 18px;
    color: #E5E7EB;
}
.signup{
    height: 50px;
    width: 80px;
    margin: 0 auto;
    background-color: #3882F6;
}
#characters{
    padding: 15px;
    margin: 25px;
}
.charact{
    height: 300px;
    width: 200px;
    border: 1.5px solid #3882F6;
    border-radius: 80px;
    padding: 20px;
}
.description{
    height: 100px;
    width: 250px;
}
#char-presentation{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
#individ{
    display: flex;
    flex-direction: column;
}

#quote{
    background-color: #E5E7EB;
    padding: 80px;
}
.final{
    font-size: 33px;
    font-weight:light;
    font-style: italic;
    color: #1F2937;
}
.author{
    font-size: 25px;
    text-align: right;
}

#action{
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
    background-color: #3882F6;
    color: white;
}
#action-text{
    flex: 1; /*every div inside ends up the exact same size*/ 
    text-align: left;
    
}
.act1{
    /* margin: top right bottom left */
    padding: 0;
    margin: 30px 0px 0px 50px;
}
.act2{
    /* margin: top right bottom left
    margin: top+bottom right+left */
    margin: 5px 30px 30px 50px;
    
}
.signup{
    display: inline-block;
    color: white;
    border-color: #fff;
    border-radius: 8px;
    
}

#footer {
    text-align: center;
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 15px;
}
